html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.material-icons {
  vertical-align: middle;
  margin-bottom: 1px;
}

#skip-previous :hover {
  color: #2ee66b;
}

#skip-next :hover {
  color: #2ee66b;
}

.footer-player {
  position: fixed;
  left: 0;
  bottom: 0;
}

.rhap_header {
  text-align: center;
}

.trash-bin {
  float: right;
}

.trash-bin:hover {
  color: red;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}